@model CP_LAB_5.Models.ViewModels.LabWorkViewModel

<h1>Лаб. работа 2</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Lab2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                @Html.TextAreaFor(model => model.Input, new { @class = "form-control", @rows = 4 })
            </div>
            <div class="form-group">
                <label asp-for="Output" class="control-label">Output: @(Model != null ? Model.Output : string.Empty)</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Result" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }